/* GLOBAL */
body {
    background: #18191A;
    color: #e4e6eb;
}

/* ---------------------------------------------------- */

/* LOGIN */

form.form-1{ 
		background: #3a3b3c;
		box-shadow: 3px 3px #242526;
}

.form-1 .field input{
	background: #b0b3b8 !important;
	box-shadow: 2px 2px #242526 !important;
	text-shadow: none !important;
}

.form-1 input::placeholder, .form-1 input:enabled{
color: #3a3b3c !important;
}
.form-1 .field i{
 color: #3a3b3c !important;
}

.form-1 .submit{
	 	background: #242526 !important;
    border: none;
}

.form-1 p.submit:after{
	 	background: #242526 !important;
    border: none;
		box-shadow: none;
}

button[type=submit] {
background: #B9FBBB !important;
}

button:hover, button i.icon-arrow-right:hover{
background: #242526 !important;
color: #B9FBBB !important;
}

button[type=submit] i.icon-arrow-right{
	color: #242526;
}

marquee {
			padding: 5px;
			background: none;
	    border: none !important;
}

marquee h3 font{
color: #e4e6eb !important;
}

a {
color: #B9FBBB !important;
}

a:hover{
color: #e4e6eb !important;
padding: 5px !important;
}

hr {
border: 1px solid #242526;
}

/* ---------------------------------------------------- */

/* KULIAH */
/* aka.unsiq.ac.id/kuliah/ */

/* header */
.header {
    background: #242526;
    border: none;
}

header > a.logo {

    color: #e4e6eb;
}

header > a.logo:hover {
    color: #B9FBBB;
}

/* Header top-menu (sisi */
ul.top-menu > li > .logout {
    background: #b0b3b8 !important;
    color: #18191A !important;
    border: none !important;
}

/* sidebar */
.sidebar-toggle-box {
    color: #e4e6eb;
}

#sidebar {
    background: #3a3b3c;
    border: none;
}

/* sidebar menu */
ul.sidebar-menu li a:hover,
ul.sidebar-menu li a:active {
    background: #242526 !important;
    color: #fff;
}

/* footer */
.site-footer {
    background: #242526;
}

/* kuliah >> diskusi mengganti border yang mengitari kotak komentar */

#dvNewMat {
    border: 2px solid #3a3b3c!important;
}

/* card paling bawah */
.room-box {
    background: #242526;
    border: none;
}

.room-box:hover {
    background: #2f2f30;
}

/* card level kedua */
.form-panel {
    background: #3a3b3c;
    box-shadow: none;
}

/* judul matkul */
.form-panel h4 {
    color: #B9FBBB;
}

/* judul pada kuliah > diskusi */
.room-desk h4 {
    color: #B9FBBB;
}

/* mengganti style button */
.style-form .btn {
    background: #b0b3b8;
    border: none;
    color: #18191A;
}

.style-form .btn:hover {
    background: #242526;
    border: none;
    color: #e4e6eb;
}

/* button 'back' pada kuliah > diskusi */
button.btn-warning {
    background: #b0b3b8;
    border: none;
    color: #18191A;
}

button.btn-warning:hover {
    background: #242526;
    border: none;
    color: #e4e6eb;
}

/* link pada card */
.form-group a:link {
    color: #B9FBBB;
}

.form-group a:hover {
    color: #b0b3b8;
}

.form-group a:visited {
    color: #b0b3b8;
}

/* border didalam card form-panel */
.form-horizontal.style-form .form-group {
    border-bottom: 1px solid #242526;
}

/* border yang mengitari judul matkul */
form.style-form div:first-child {
    border: none !important;
    margin-bottom: 10px;
}

/* kuliah > diskusi, menghapus bg & border pada judul matkul */
form.form-horizontal div[style] {
    background: none !important;
    border: none !important;
}